<ion-split-pane contentId="main-content">
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Menú</ion-list-header>
        <ion-note></ion-note>
        <ion-menu-toggle auto-hide="false" *ngFor="let p of Icns">
          <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
            <ion-icon slot="start" [name]="p.icon" style="color: black;"></ion-icon>
            <ion-label style="color: black; font-size: 16px;">
              <p style="color: black; font-size: 18px;">Inicio</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
        <ion-menu-toggle auto-hide="false">
          <ion-item [routerLink]="['/favoritos']">
            <ion-icon slot="start" src="/assets/icon/favoritos.svg"></ion-icon>
            <ion-label>
              <p style="color: black; font-size: 18px;">Mis favoritos</p>
            </ion-label>
          </ion-item>
          <ion-item [routerLink]="['/mensajes']">
            <ion-icon slot="start" src="/assets/icon/chats.svg"></ion-icon>
            <ion-label>
              <p style="color: black; font-size: 18px;">Mis chats</p>
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
      <!--[routerLink]="['/ventas']"-->
      <div class="elemnt" style="padding-bottom: 20%;"></div>
        <p style="color: black; font-size: 0.1px; padding-bottom: 50%;">.</p>
          <div class="btn_conf" [routerLink]="['/configuracion']">
            <button type="submit" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: firebrick;">CONFIGURACIÓN</button>
          </div>
          <p style="color: black; font-size: 0.1px; padding-top: 2.5%;">.</p>
          <div class="btn_close_sesion">
            <button type="submit" style="width: 75%; height: 33px; margin-left: 16%; border-radius: 5px; font-size: 15px; text-align: center; color: white; background-color: lightslategrey;">CERRAR SESIÓN</button>
          </div>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>