<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!--<ion-menu-button></ion-menu-button>-->
    </ion-buttons>
    <!--<ion-icon slot="start" src="/assets/icon/cerrar_sesion.svg"></ion-icon>-->
    <ion-title>
      Mi perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
</ion-content>